python-dotenv==1.2.1
pandas==2.3.3
numpy==2.3.5
ipython==9.8.0
jupyter==1.1.0
pytest==9.0.2
black==25.12.0

torch==2.9.1
transformers>=4.57.3
datasets==4.4.2
accelerate==1.12.0
openai==2.13.0
pyyaml==6.0.3
loguru==0.7.3
scikit-learn==1.8.0
tqdm==4.67.1
sentence_transformers==5.2.0

